.buttonforgotpassword {
    display: inline;
    background-color: transparent; 
    border: none;
    border-radius: 15px;
    width: 200px;
    height: 45px;
    cursor: pointer;
    font-size: 15px;
    color: gray; 
    font-weight: bold;
    align-self: flex-end;
}
