html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
}


.login-page * {
  margin: 3px;
}

.login-title h1{
  display: flex;
  font-size: 4vw;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.login-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logintext {
  font-size: 16px;
  font-weight: bold;
}


.logintext2 {
  font-size: 12px;
}


.login-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.login-box {
  width: 600px;
  height: 600px;
}

.login-input {
  display: flex;
  flex-direction: column;
  gap: 2px;
  
  justify-content: center;
  align-items: center;
}

.login-signup {
  display: flex;
  align-items: center;
  gap: 8px; 
  
  justify-content: center;
  align-items: center;
}
