.buttonhome {
    display: inline;
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    height: 40px;
    cursor: pointer;
    margin-left: 10px;
    font-size: larger;
    color: rgb(0, 0, 0);
    font-weight: bold;
    justify-content: center;
    position: absolute;
    left: 10px;
}

span {
    margin-left: 10px;
}