html, body {
  height: 100%;
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: 'Inter', sans-serif;
}

.forgotpassword-page * {
margin: 3px;
}

.forgotpassword-title h1{
display: flex;
font-size: 4vw;
margin-bottom: 20px;
justify-content: center;
align-items: center;
}

.forgotpassword-subtitle {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.forgotpasswordtext {
font-size: 16px;
font-weight: bold;
}

.forgotpasswordtext2 {
font-size: 12px;
}

.forgotpassword-page {
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
padding: 0;
}

.forgotpassword-box {
width: 600px;
height: 600px;
}

.forgotpassword-input {
display: flex;
flex-direction: column;
gap: 2px;

justify-content: center;
align-items: center;
}

.forgotpassword-signup {
display: flex;
align-items: center;
gap: 8px; 

justify-content: center;
align-items: center;
}
