.searchdiv{
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
    width: 350px;
    border-radius: 15px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 3px;
}
    
    
.searchbox {
    background-color: #ffffff;
    height: 27px;
    border: none;
    width: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buttonsearch {
    display: inline;
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    width: auto;
    height: 40px;
    cursor: pointer;
    font-size: larger;
    color: rgb(0, 0, 0);
}

.searchbox:focus {
  outline: none;
  box-shadow: none; /* opcional, remove sombras de foco em alguns navegadores */
}