html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
  }

.signup-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}


.signup-box h2 {
  margin-bottom: 15px;
  font-size: 60px;
  font-weight: 600;
  top: 20%;
  position: absolute;
  left: 35%;
}

.signup-box h3 {
  margin: 5px 0 10px;
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  position: absolute;
  left: 39.5%;
  top: 40%;
}

.signup-box h4 {
position: absolute;
top: 47%;
left: 40%

}

.signup-box h5 {
  margin: 5px 0 10px;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  position: absolute;
  top: 78%;
  left: 39.5%;
}

.signup-box p {
  font-size: 14px;
  color: #555555;
  margin-bottom: 20px;
  position: absolute;
  left: 39.5%;
  top: 41.5%;
}

.signup-input {
  width: 200%;       
  margin: 0 auto;     
  display: block;     
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  font-size: 14px;
  margin-bottom: 14px;
  transition: border-color 0.2s;
}


.signup-input:focus {
  outline: none;
  border-color: #68d4f0;
}

.signup-register {
   position: absolute;
   left: 40%; 
   top: 72%
}

.signup-haveanaccount {
    position: absolute;
   left: 51.5%; 
   top: 78.5%
}

