html, body {
  height: 100%;
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: 'Inter', sans-serif;
}

.signup-page * {
  margin: 3px;
}

.signup-title h1{
  display: flex;
  font-size: 4vw;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.signup-subtitle {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.signuptext {
font-size: 16px;
font-weight: bold;
}

.signuptext2 {
font-size: 12px;
}

.signup-page {
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
padding: 0;
}

.signup-box {
width: 600px;
height: 600px;
}

.signup-input {
display: flex;
flex-direction: column;
gap: 2px;

justify-content: center;
align-items: center;
}

.signup-signup {
display: flex;
align-items: center;
gap: 8px; 

justify-content: center;
align-items: center;
}
